*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightseagreen;
    height: 80px;

}

#logo-header{
    font-size: 24px;
    height: 30px;
    width: 15%;
    justify-content: center;
    text-align: center;
    /* DEBUG */
    background-color: darkgoldenrod;
    border: 2px dashed black;   
}

#header-nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 50%;
    /* DEBUG */
    background-color: darkgoldenrod;
    height: 30px;
    border: 2px dashed black;
}

ul{
    display: flex;
    width: 40%;
    justify-content: space-between;
    text-decoration: none;
}

ul li{
    list-style: none;
    text-decoration: none;
}

#login{
    font-size: 24px;
    width: 15%;
    justify-content: center;
    text-align: center;
    /* DEBUG */
    background-color: darkgoldenrod;
    border: 2px dashed black;
}

#jumbo{
    width: auto;
    background-color: blue;
    height: 400px;
    display: flex;
    justify-items:center;
    align-items: center;
    justify-content: space-around;
}

.jumbo-square{
    width: 50%;
    height: 350px;
    /* DEBUG */
    background-color: coral;
    border: 2px dashed black;
}

.block{
    width: auto;
    background-color: white;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items:center; 
}

.cross-block{
    width: auto;
    background-color: grey;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items:center;
}

.block-sketch{
    background-color: aqua;
    width: 450px;
    height: 350px;
    border: 2px dashed black;
    
}

.block-text{
    background-color: rosybrown;
    width: 300px;
    height: 350px;
    border: 2px dashed black;
    
}

.jumbo2{
    width: auto;
    background-color: gray;
    height: 400px;
    display: flex;
    justify-items:center;
    align-items: center;
    justify-content: space-around;
}

.jumbo2-square{
    width: 750px;
    background-color: green;
    height: 350px;
    border: 2px dashed black;
}

#footer-nav{
    width: auto;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

#column-social{
    width: 190px;
    height: 80%;
    background-color: rosybrown;
    border: 2px dashed black;
}

.column-nav{
    width: 140px;
    height: 80%;
    background-color: darkseagreen;
    border: 2px dashed black;
}

hr{
    color: blanchedalmond;
}

#footer{
    display: flex;
    align-items: center;
    height: 80px;
    background-color: black;
    justify-content: space-between;
}

#logo-footer{
    font-size: 24px;
    height: 30px;
    width: 15%;
    justify-content: center;
    text-align: center;
    /* DEBUG */
    background-color: salmon;
    border: 2px dashed black; 

}

#button{
    font-size: 24px;
    height: 30px;
    width: 15%;
    text-align: center;    
    /* DEBUG */
    background-color: salmon;
    border: 2px dashed black; 

}




